header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}
body {
    font-size: large;
    color: #ffffff;
    background-color: #0e2c40;
    background-position: center;
    font-family: Garamond, Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}
.wrapper {
    width: auto;
    margin: auto;
    border: auto solid #000000;
    background-color: #0e2c40;}
header {
    width: 100%;
    display:inline-block;
    margin: 0 auto;
    height: 160px;
    background-image: url("media/portada.jpg");}
h1 {
    text-indent: -9999px;
    width: auto;
    height: 130px;
    margin: 0px;}
nav, footer {
    font-size: x-large;
    clear: both;
    color: #ffffff;
    background-color: #efbc75;
    height: 30px;}
nav ul {
    margin: 0px;
    width: auto;
    padding: 2px 2px 2px 30px;}
nav li {
    display: inline;
    margin-left: 6%;
    margin-right: 6%;}
nav li a {
    color: #0e2c40;}
nav li a:hover, nav li a.current {
    color: #ffffff;}
section.courses {
    float: left;
    width: 70%;
    border-right: 1px solid #eeeeee;}
article {
    clear: both;
    overflow: auto;
    width: 100%;}
article a:hover {
    color: #ffffff;
    background-color: #0e2c40;}
hgroup {
    margin-top: 40px;}
figure {
    float: left;
    width: auto;
    height: auto;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee; 
    }
figcaption {
    font-size: large;
    text-align: center;}
aside {
    width: 25%;
    float: left;
    padding: 0px 2% 0px 2%;}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ffffff;}
aside section a:hover {
    color: #ffffff;
    background-color: #0e2c40;}
a {
    color: #148d8d;
    text-decoration: none;}
h1, h2, h3 {
    font-weight: normal;}
h2 {
    margin: 0px 0px 0px 0px;
    padding: 2% 2%;
    color: #c1e1a7;}
h3 {
    margin: 0px 0px 10px 0px;
    color: #efbc75;}
aside h2 {
    padding: 30px 0px 10px 0px;
    color: #c1e1a7;}
footer {
    color: #0e2c40;
    font-size: large;
    padding: 7px 0px 0px 20px;}